.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .articles-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
