header {
  position: fixed;
  display: flex;
  justify-content: space-around;
}

.page-icon {
  margin: 0.2rem;
  font-size: 3rem;
}

h1 {
  margin: 0.2rem 0.2rem 0.2rem 0;
  font-size: 3rem;
  font-weight: 600;
}
